.baslik{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#1a53ff;
    text-align: center;
    font-size: 25px;
  }

  .yazi1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  .yazi2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  .yazi3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  .yazi4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
    
