<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1 class="baslik">Karakter Analizi Testi Nedir?</h1>
    </ion-toolbar>
  </ion-header>
 <p></p>
  <ion-img src="assets/resim1.jpg" class="resim"></ion-img>
  <p></p>
  <p class="yazi">Karakter analiz testi bilimsel araştırmalara dayanan bir kişilik analizi testidir. Karakter analizi testi ile kişilerin insan ilişkilerindeki yaklaşımları ve güçlü-zayıf yönleri gibi konularda bilgi edinmek amaçlanır. Özellikle insan kaynakları uzmanları personel alımlarında bu testten sıkça faydalanır.</p>

  <p></p>
  <ion-button href="/testgit" class="buton">Teste Başla</ion-button>
</ion-content>
