.baslik{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#1a53ff;
  text-align: center;
  font-size: 25px;
}

.resim{
  height: 30%;
}

.yazi{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 20px;
}

